/* (Nueva paleta de colores)
Códigos de color:
Naranja: #F3921C
--Degradado Fondo--
Azul inicial: #2094C1
Azul intermedio: #35398E
Azul final: #223663
--Degradado azul--
Azul: #309FAE
Azul inicial: #83CEE5
Azul final: #0074AE

Morado claro: #662382
Verde claro: #95c11e

Color 1 (encabezado) - #2094C1 (Azul inicial, degradado fondo)
Color 2 (navbar) -   #33aedd
Color 3 - #F3921C (Naranja)
Color 4 (azul suave) - #64c1e6
*/

@font-face
{
	font-family: jaapokki;
	src: url("../fonts/jaapokkienchance-regular.woff");
}

body
{
    top:0px;
    margin:0px;
    height: 750px !important;
    width: 100%;
    background-color: #83CEE5;
    background-image: url("../imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

#main{
    background-color: #83CEE5;
    background-image: url("../imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
/*    z-index: 10;*/
}

#encabezado{
    position:fixed;
    top:0;
    left:0;
    background-color: #2094C1; /*azul inicial*/
    /*background-color: #309FAE;*/
/*    background-color: #83CEE5; */
    /*background-color:#35398E;*/
    height: 60px;
    margin:0;
    width:100%;
    z-index: 22;
}

a
{
    z-index: 20;
    color: #FFF;
    text-decoration: none;
}

a:hover
{
    /*color:#fdc570;*/
    /*color:#64c1e6;*/
    color:#e5e5e5;
}


p
{
    text-align: center;
    z-index: 20;
    margin: 20px;
    color: #FFF;
}

ul#navbar
{
    font-family: 'jaapokki', sans-serif;
     background-color:  #33aedd;
    /*background-color: #2094C1; */
    position: fixed;
    padding: 15px;
    z-index: 22;
    width: 100%;
    top: 60px;
    margin-top: 0;
}

ul#navbar li
{
    display: inline;
}

ul#navbar li a
{
    top:0px;
    left:0px;
    font-family: 'jaapokki', sans-serif;
	text-align: center;
	font-size: 20px;
    margin-left: 7.5%;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#navbar li a:hover
{
    /*color: #F3921C;*/
    /*color:#95c11e;*/
    color:#c0d8fa;

}

ul#footer
{
    font-family: 'jaapokki', sans-serif;
    bottom: 0px;
    padding: 0;
    z-index: 22;
/*    width: 120px;*/
    height: auto;
    margin: 0px;
    margin-bottom: 10px;
/*    text-align: center;*/
/*    background-color: #fff;*/
}

#foot{
    width:100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 22;
/*    height: 70px;*/
}

#feet{
    background-color: #fff;
    width: 400px;
    margin: auto;
    z-index: 22;
}

#feet2
{
    /*background-color: #33aedd;*/
    background-color:#2094C1;
    color:white;
    width: 100%;
    margin: auto;
    z-index: 22;
}

#google, #gsa, #acm{
    text-align: center;
}

ul#footer li
{
    display: inline;
}

ul#footer li img
{
    height: 70px;
    margin-top: 5px;
    color: #FFF;
    margin-left: 8px;
    margin-right: 8px;
}

.titulo{
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0px;
}
.subtitulo{
    font-weight: 900;
    text-align: center;
    margin-top: -10px;
}

#index
{
    background-image: url("../imagenes/logo.png");
    background-size: cover;
    background-position: center;
    padding-top: 11.5em;

    width: 100%;
    height: 100%;
    z-index: 22;
/*    padding: 20%;*/
}

#contenido{
    text-align: center;
    color: #F3921C;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    margin-bottom: 2em;
    margin-top: 4em;
    font-size: 30;
    text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
    min-height: 100%;
    width: 100%;
    display:inline-block;

}

#contenido2 {
    text-align: center;
    color: #F3921C;
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    margin-bottom: 2em;
/*    margin-top: 4em;*/
    font-size: 30;
    text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
    min-height: 100%;
    z-index: 10;
    clear: right;
    display:inline-block;
}

#contenido3{
    text-align: center;
    color: #F3921C;
/*    position: absolute;*/
    left: 0;
    right: 0;
    margin: 0;    
/*    margin-top: 2em;*/
    margin-bottom: 2em;
    font-size: 30;
    text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
    z-index: 10;
    min-height: 100%;
    display:inline-block;

}


#tbdiv {
/*    position: absolute;*/
    left: 0;
    right: 0;
/*    margin-top: 22em;*/
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    height: 100%;
    margin-bottom: 2em;
    display:inline-block;

}

#tbins {
/*    position: absolute;*/
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    border-spacing: 20px;
/*    height: 100%;*/
}

#tbdiv2 {
/*    position: absolute;*/
    left: 0;
    right: 0;
/*    margin-top: 112em;*/
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    height: 100%;
    display:inline-block;

}

#tbins2 {
/*    position: absolute;*/
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    border-spacing: 20px;
/*    height: 100%;*/

}

.reglastd {
    border-radius: 100px;
    padding-right: 10px;
    padding-left: 10px;
}

.footnote{
    color: #F3921C;
}

#sah{
/*    margin-top: 70em;*/
/*    margin-bottom: 10em;*/
}

#premios{
    text-align: center;
    /*color: #F3921C;*/
    color: #F3921C;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;    
    margin-top: 6em;
    margin-bottom: 6em;
    font-size: 30;
    text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

#warning{
    margin-bottom: 0px;
}

#cronograma{
    text-align: center;
    color: #F3921C;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;    
    margin-top: 6em;
    margin-bottom: 6em;
    font-size: 30;
    text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

#main2 {
    background-color: #fff7e9;
    background-image: url("../imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

th, td{
    border-collapse: collapse;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

td{
    font-size: 18;
    font-weight: 400;
    color: #fff;
    background-color:#51bae1;
    /*background-color: #64c1e6;*/
/*    border: 5px solid #F3921C;*/
}

th{
    font-size: 20;
    color: white;
    /*background-color: #309FAE;*/
    background-color:#309FAE;
}

tr:hover, td:hover{
    background-color: #83CEE5;
}

tr:hover td{
    background-color: #83CEE5;
}

tr:hover td .red > span{
    background-color: #F3921C;

}

tr:hover td a:hover{
    color: #F3921C
}

hr
{
	width: 350px;
	color: #F3921C;
	border-style: solid;
	border-width: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.meter { 
    height: 20px;  /* Can be anything */
	position: relative;
	background: #fff7e9;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 5px;
    margin: 3px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
/*    box-shadow: */
        inset 0 2px 9px  rgba(255,255,255,0.1),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;

}


.blue > span {
  background-color: #F3921C;
/*  background-image: linear-gradient(to bottom, #F3921C, #36bdad);*/
}

.red > span {
  background-color: #83CEE5;
}

.googlesheet {
    height: 100%;
    width: 66.7%;
}

.semana2 {
    width: 100%;
}

/*#footerS {*/
    /*clear: both;*/
    /*position: relative;*/
    /*z-index: 10;*/
    /*height: 3em;*/
    /*margin-top: -3em;*/
/*}*/
